:root[data-theme="dark"] {
  /* COLOR */
  --accent-base: rgb(8, 159, 132);
  --accent-darker: rgb(16, 148, 112);
  --accent-light: rgb(3, 211, 174);
  --accent-lighter: rgb(0, 238, 195);
  --button-white: rgb(255, 255, 255);
  --gray-4: rgb(189, 189, 189);
  --neutral-dark: rgb(255, 255, 255);
  --neutral-n-1: rgb(51, 51, 51);
  --neutral-n-2: rgb(101, 101, 101);
  --neutral-n-3: rgb(178, 178, 178);
  --neutral-n-4: rgb(232, 232, 232);
  --neutral-white: rgb(30, 30, 30);
  --semantic-blue-base: rgb(108, 185, 218);
  --semantic-blue-lighter: rgb(27, 76, 97);
  --semantic-green-base: rgb(107, 212, 111);
  --semantic-green-lighter: rgb(92, 156, 94);
  --semantic-orange-base: rgb(255, 173, 78);
  --semantic-orange-lighter: rgb(166, 101, 27);
  --semantic-red-base: rgb(255, 94, 94);
  --semantic-red-lighter: rgb(183, 69, 69);
}
