:root[data-theme='light'] {
  /* COLOR */
  --accent-base: rgb(5, 191, 157);
  --accent-base: rgb(5, 191, 157);
  --accent-light: rgb(3, 211, 174);
  --accent-light: rgb(78, 213, 189);
  --accent-lighter: rgb(194, 242, 233);
  --gray-4: rgb(189, 189, 189);
  --neutral-dark: rgb(30, 30, 30);
  --neutral-dark: rgb(255, 255, 255);
  --neutral-n-1: rgb(51, 51, 51);
  --neutral-n-1: rgb(232, 232, 232);
  --neutral-n-2: rgb(178, 178, 178);
  --neutral-n-2: rgb(101, 101, 101);
  --neutral-n-3: rgb(178, 178, 178);
  --neutral-n-3: rgb(101, 101, 101);
  --neutral-n-4: rgb(232, 232, 232);
  --neutral-n-4: rgb(51, 51, 51);
  --neutral-white: rgb(30, 30, 30);
  --neutral-white: rgb(255, 255, 255);
}
